/* forum */
/* ----------------------------------------------------------*/

.m-title{
	color:#205caa;
}

.m-wrap {
	background-color:#FFF;
	
}


.m-header {
	visibility: hidden;	
	height:0px;
}

.m-sidebar {
	min-height:500px;
}

#moot-logo {

	margin:0px;
	padding:50px 0 0 0;
}

#moot-logo a {
	
	width:100%;
	
}
#moot-logo a:before {
    content: "";
	width:100%;
}

