/* forum */
/* ----------------------------------------------------------*/

.m-title{
	color:#205caa;
}

.m-wrap {
	background-color:#FFF;
	min-height:500px;
}

.m-page {
	background-color:#FFF;
	min-height:600px;
}


.m-header {
	visibility: hidden;	
	height:0px;
}


#moot-logo {

	margin:0px;
	padding:50px 0 0 0;
}

#moot-logo a {
	
	width:100%;
	
}
#moot-logo a:before {
    content: "";
	width:100%;
}

