/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #F0F0F3;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
    max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}



/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: 5px solid #205caa;
  border-bottom: 1px solid #c8c8c8;
  min-height: 56px;
  background-color: white;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: -.5px;
}

/* Site footer */

.site-footer {
  border-top: 1px solid #c8c8c8;
  padding: 30px 0;
}

.site-footer i {
  color: #333;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 175px; /*fallback*/
  width: -webkit-calc(33% - 10px);
  width: -moz-calc(33% - 10px);
  width: -o-calc(33% - 10px);
  width: calc(33% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 270px; /*fallback*/
  width: -webkit-calc(25.125% - 10px);
  width: -moz-calc(25.125% - 10px);
  width: -o-calc(25.125% - 10px);
  width: calc(25.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
  text-align: justify;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
  min-height: 70%;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.post {
	min-height:80%;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
  margin-left: 100px;
  text-indent: -95px;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content {
  margin: 0 auto 30px auto;
  max-width: 600px;
  text-align: justify;
}

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
  text-align: left;
  margin-bottom: 5px;
}


.post-content h1 {
  font-size: 36px;
  letter-spacing: -1.25px;
  border-bottom: #CBD2D6 1px solid;
  padding-bottom: 1rem;
}

.post-content h2 {
  font-size: 26px;
  letter-spacing: -1px;
  border-bottom: #DBE2E6 1px solid;
  padding-bottom: .8rem;

}

.post-content h3 {
  font-size: 22px;
  letter-spacing: -1px;
  border-bottom: #EBF2F6 1px solid;
  padding-bottom: .6rem;
}

.post-content blockquote {
  border-left: 4px solid #c8c8c8;
  border-right: 4px solid #c8c8c8;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 95%;
  opacity: .6;
  /*letter-spacing: -1px;*/
  font-style: italic;
  margin: 20px 10px;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post img {
  display: block;
  margin: 1em auto 1em auto;
  padding: 0px 0px 0 0px;
  max-width: 96%;
}

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #F7FAFB;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 15px;*
}

.post code{
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #E0EAF3;
    background: #F5F8FB; /*F7FAFB*/
    border-radius: 3px;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* HOME */

.home {
    background-color: #FFF;
    min-height: 100%;
	
}
.home #bandeau{
  width: 100%;
  background-color: #205caa;
  margin: -30px 0 0 0;
  padding: 0;
}

.home #bandeau h1 {
  font-size: 2.6rem;
  line-height: 2rem;
  font-weight: bold ;
  color: #FFF;
  padding: 100px 0 10px 0px;
  margin: 0;
}

.home #bandeau p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold italic;
  color: #FFF;
  padding: 0px 0 25px 0px;
  margin: 0;
text-align: left;
}


.home .topic {
   width: 200px; /*fallback*/
   width: -webkit-calc(33.3%);
  width: -moz-calc(33.3%);
  width: -o-calc(33.3%);
  width: calc(33.3%);
  float: left;
  margin: 50px 0px 65px 0px;
  padding: 0 ;
  text-align:center;

}

.home .topic h1 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  color: #446;
  padding: 20px 0 0 0;
  margin: 0px 0 10px 0;
}

.home p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 7px 5px;
  text-align: center;
}

.home .icon {
  width: 60%;
  padding: 0;
  margin: 0 auto;
}


.social {
  text-align: center;
  height: 100%;
  min-height: 100%;

}

.social a, a:hover {
  text-decoration: none;
}
.social i {
  margin: 0 5px;
  padding-bottom: 10px;
  font-size: 4rem;
  color: #557;
}

.social i:hover {
  color: #03A0D7;
}

/* TOC */

#markdown-toc:before {
  content: "Table of Contents";
  font-weight: bold;
  margin-left: 0px;
  color: #333;
}
#markdown-toc {
  margin: -5px 0px 5px 0px;
  padding: 10px 15px;
  background-color: #FAFAFC;
}

ul#markdown-toc li {
  margin-left:0px;
}

ul#markdown-toc,
ul#markdown-toc *
{
  list-style-type: none;
}

/* WIKI */
#wiki_toc ul {
  margin-left: 0px;
  list-style-type: none;
}

/* installation page */
.download-option {
  width: 300px; /*fallback*/
  width: -webkit-calc(50% - 40px);
  width: -moz-calc(50% - 40px);
  width: -o-calc(50% - 40px);
  width: calc(50% - 40px);
  float: left;
  margin: 20px 40px 35px 0px;
  padding: 0;
}

.download-option .button {
  float: left;
  margin-right: 10px;
  height: 90px;
}


.download-option h1 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  color: #446;
  border: none;
  padding: 0;
  margin: 0;
}

.download-option p {
  padding: 0;
  margin: 0;
}

.download-option a:hover {
    text-decoration: none;
    color: #667;

}



/* Author styling */
/* ----------------------------------------------------------*/

.about-block {
    margin:15px 0;
    padding: 15px 0 0 0;
    border-bottom: #EBF2F6 0px solid;
    display: block;
}

.about-block h4 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: normal;
    line-height: 1.3em;

}

.about-block p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.3em;

}


/* Drop the share links in the space to the right.
   Doing it like this means it's easier for the author bio
   to be flexible at smaller screen sizes while the share
   links remain at a fixed width the whole time */



.about-block .author {
  margin-bottom:0em;
  margin-right: 50px;
}
.about-block .author header{
  float:left;
  width: 80px;
}
.about-block .author article{
  margin-left:100px;
  min-height: 90px;
}

.about-block .author .share{
    margin: .9rem 0rem 0rem 0px;
}

.about-block .author .share a {
    font-size: 1rem;
    color: #BBC7CC;
    text-decoration: none;
}

.about-block .author .share a:hover {
    color: #50585D;
}

.about-block img.profile {
  width:80px;
  height:auto;
  border-radius: 50px;
  margin: 0 5px;
}


p.reference {
  border-left: 4px solid #c8c8c8;
  padding-left: 20px;
  opacity: .8;
  /*letter-spacing: -1px;*/
  font-style: italic;
}

/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 45%; }

  .footer-col-2 {
    width: 50%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #c8c8c8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}

/* forms */


.ss-q-title {
  font-style: italic;
  color: #333333;
  margin-right: 30px;
  padding-left: 20px;

}
.ss-required-asterisk {
  color: #990000;
}

.ss-q-item-label{
  width: 250px;
  float: left;
  clear: both;
}

.ss-q-short {
   display: inline-block;
   color: #333333;
    font-size: 90%;
   border: 1px solid #CCCCCC;
   padding: 4px;
   line-height: 1.2;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 10px;


}

.ss-choices {
   list-style-type: none;
   display:inline-block;
   width:290px;

}

.ss-choice-item input {
    margin-left: -20px;
}

select.ss-q-short  {
  width: 310px;
}

.ss-choice-label {
    margin-left: 10px;
}

.ss-navigate {
  margin-left: 250px;
text-align: right;
  margin-top: 20px;
}

.ss-navigate input {
  padding: 4px;
  border: 0px ;
  background-color: #205caa;
  color: #FFF;
  font-size: 100%;
  margin-right: 30px;

}

.ss-navigate input:hover {
  background-color: #667;
}
