<footer class="site-footer">

  <div class="wrap">


    <div class="footer-col-1 column">
        <h2 class="footer-heading">Participate to the VBA-toolbox!</h2>

          <ul>
        <li>
           <i class="fa fa-github-square fa-fw "></i>
          <a href="https://github.com/MBB-team/VBA-toolbox/fork">fork on Github</a>
        </li>
        <li>
          <i class="fa fa-edit fa-fw "></i>
          <a href="https://github.com/MBB-team/VBA-toolbox/issues">post a request</a>
        </li>
        </ul>

    </div>

    <div class="footer-col-2 column">
     <ul>
        <li>Jean DAUNIZEAU</li>
        <li><a href="mailto:jean.daunizeau@gmail.com">jean.daunizeau[at]gmail.com</a></li>
      </ul>
      <ul>
        <li>Lionel RIGOUX</li>
        <li><a href="mailto:lionel.rigoux@gmail.com">lionel.rigoux[at]gmail.com</a></li>
      </ul>

     </div>

    <div class="footer-col-3 column">
<p>J. Daunizeau, V. Adam, L. Rigoux (2014), VBA: a probabilistic treatment of nonlinear models for neurobiological and behavioural data. PLoS Comp Biol 10(1): e1003441.</p>
    </div>

  </div>

</footer>
